@page "/resetPassword"

@rendermode InteractiveServer

<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="mt-10">
    <MudPaper Class="pa-6 rounded-lg" Elevation="25">
        <MudIcon Icon="@Icons.Material.Filled.Business"
                 Color="Color.Dark"
                 Size="Size.Large"
                 Class="mx-auto d-block mb-2" />
        <MudText Typo="Typo.h4" Class="pa-4 text-black text-accent-4 text-center mb-6">ToyoOeste</MudText>
        <MudText Typo="Typo.h6" Class="text-center mb-6">Cambiar Contraseña</MudText>

        <EditForm Model="user" OnValidSubmit="HandleReset">
            <DataAnnotationsValidator />

            <!-- Campo Email -->
            <MudTextField @bind-Value="user.Email" Placeholder="Correo Electrónico" Variant="Variant.Outlined"
                          FullWidth="true" Margin="Margin.Dense" InputType="InputType.Email"
                          HelperText="Por favor, ingresa un correo válido."
                          Class="mt-4" />
            <ValidationMessage For="@(() => user.Email)" />

            <!-- Campo Contraseña -->
            <MudTextField @bind-Value="user.Password" Placeholder="Contraseña" Variant="Variant.Outlined"
                          FullWidth="true" Margin="Margin.Dense" InputType="@PasswordInput"
                          HelperText="Por favor, ingresa una contraseña segura."
                          Class="mt-4" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon"
                          OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
            <ValidationMessage For="@(() => user.Password)" />

            <!-- Campo Telefono -->
            <MudTextField @bind-Value="user.MovilNumber" Placeholder="Teléfono Móvil" Variant="Variant.Outlined"
                          FullWidth="true" Margin="Margin.Dense" InputType="InputType.Number"
                          HelperText="Por favor, ingresa tu teléfono móvil." />
            <ValidationMessage For="@(() => user.MovilNumber)" />

            <!-- Campo Dni -->
            <MudTextField @bind-Value="user.DNINumber" Placeholder="Cédula" Variant="Variant.Outlined"
                          FullWidth="true" Margin="Margin.Dense" InputType="InputType.Number"
                          HelperText="Por favor, ingresa tu número de cédula." />
            <ValidationMessage For="@(() => user.DNINumber)" />

            @if (mostrarAlerta)
            {
                @if (tipoAlerta == 0)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @mensajeAlerta
                        <button type="button" class="btn-close" @onclick="() => mostrarAlerta = false"></button>
                    </div>
                }
                else
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @mensajeAlerta
                        <button type="button" class="btn-close" @onclick="() => mostrarAlerta = false"></button>
                    </div>
                }
            }
            <!-- Botón Registrar -->
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Style="background: #ac0505;" Class="mt-6 w-100 text-white">
                Cambiar Contraseña
            </MudButton>
        </EditForm>

    </MudPaper>
</MudContainer>

@code {
    private ResetUserDto user = new ResetUserDto();

    public string Password { get; set; } = string.Empty;
    private bool isShow;
    private InputType PasswordInput = InputType.Password;
    private string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    private string? mensajeAlerta;
    private int tipoAlerta = 0;
    private bool mostrarAlerta = false;

    [Inject] private ISnackbar Snackbar { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private IDialogService DialogService { get; set; } = null!;
    [Inject] private IAuthService repository { get; set; } = null!;

    protected override void OnInitialized()
    {
        Password = user.Password;
    }

    private void ButtonTestclick()
    {
        if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private async Task HandleReset()
    {
        try
        {
            var response = await repository.ResetPassword(user);

            if (response != null)
            {
                Snackbar.Add("Contraseña actualizada exitosamente.", Severity.Success);
                mensajeAlerta = "Contraseña actualizada exitosamente.";
                mostrarAlerta = true;
                tipoAlerta = 1;

                NavigationManager.NavigateTo("/login");
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
        }
    }
}